*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(img/background.jpg);
    background-size: cover;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 15px;
    border: black 2px solid;
}

/**Index page**/

form{
    width: 45vw;
}
#controle{
    width: 25vw;
}
#controle{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#speed{
    width: 25vw;
    color: white;
}
#speed li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#opacity{
    width: 25vw;
    color: white;
}
#opacity li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/**Login page**/

@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500&display=swap');

form{
    width: fit-content;
}

img{
    max-height: 200px;
}

#info{
    margin-right: 30px;
}
#info h1{
    margin-bottom: 30px;
    font-family: "Hepta Slab", serif;
}
#info p{
    width: 200px;
}

#connection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    width: 30vw;
    height: fit-content;
}
#connection h1{
    margin-bottom: 25px;
}
#connection_input{
    display: flex;
    flex-direction: column;
}