form{
    width: 45vw;
}
#controle{
    width: 25vw;
}
#controle{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#speed{
    width: 25vw;
    color: white;
}
#speed li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#opacity{
    width: 25vw;
    color: white;
}
#opacity li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}