<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Pi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.svg') }}" type="image/x-icon">
</head>
<body id="home">
    <div id="topbar">
        <div class="user">
            <img class="topicon" id="icon-user" src="{{ url_for('static', filename='img/user.svg') }}" alt="">
            <div class="icon-content" id="UserDiv">
                <h1>Compte</h1>
                <div class="content-flex">
                    <img src="{{ url_for('static', filename='users/admin.png') }}" alt="">
                    <h2>Nom d'utilisateur</h2>
                    <h3>{{ session['username'] }}</h3>
                    <form action="/logout">
                        <input id="deconnection_submit" type="submit" value="Se deconnecter">
                    </form>
                </div>
            </div>
        </div>
        <div class="setting">
            <img class="topicon" id="icon-sett" src="{{ url_for('static', filename='img/setting.svg') }}" alt="">
            <div class="icon-content" id="SettDiv">
                <h1>Parametre</h1>
                <div class="content-flex">
                    <h2>Parametre 1</h2>
                    <h3>Value 1</h3>
                    <h2>Parametre 2</h2>
                    <h3>Value 2</h3>
                    <h2>Parametre 3</h2>
                    <h3>Value 3</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="top">
            <form action="/process" method="post" id="controle" class="main-element">
                <h1>Controle de l'ecran</h1>
                <div id="info">
                    <li>
                        <label for="test_input">Texte à afficher</label>
                        <input type="text" id="test_input" name="test_input" required><br>
                    </li>
                </div>
                <div id="speed">
                    <h2>Vitesse d'affichage</h2>
                    <li>
                        <label for="speed_input1">50%</label>
                        <input type="radio" id="speed_input1" name="Scroll_input" required value=".2"><br>
                    </li>
                    <li>
                        <label for="speed_input2">100%</label>
                        <input type="radio" id="speed_input2" name="Scroll_input" value=".1"><br>
                    </li>
                    <li>
                        <label for="speed_input3">200%</label>
                        <input type="radio" id="speed_input3" name="Scroll_input" value=".05"><br>
                    </li>
                </div>
                <div id="opacity">
                    <h2>Luminosité</h2>
                    <li>
                        <label for="opacity_input1">50%</label>
                        <input type="radio" id="opacity_input1" name="opacity_input" required value="0.25"><br>
                    </li>
                    <li>
                        <label for="opacity_input2">100%</label>
                        <input type="radio" id="opacity_input2" name="opacity_input" value="0.5"><br>
                    </li>
                    <li>
                        <label for="opacity_input3">200%</label>
                        <input type="radio" id="opacity_input3" name="opacity_input" value="1"><br>
                    </li>
                </div>
                <input id="screen_submit" type="submit" value="Mettre a jour">
            </form>
            <div id="screen_info" class="main-element">
                <h1>Information de l'ecran</h1>
                <div id="screen_info_content">
                    <h2>Texte affiché</h2>
                    <h3>{{ screen_info['text'] }}</h3>
                    <h2>Vitesse d'affichage</h2>
                    <h3>{{ screen_info['speed'] }}</h3>
                    <h2>Luminosité</h2>
                    <h3>{{ screen_info['opacity'] }}</h3>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div id="github" class="main-element" style="border: 1px solid #ddd; padding: 30px; width: 100%; margin: 10px; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                <h2 style="margin: 0 0 10px 0; padding: 0; font-size: 20px; border-bottom: 1px solid #ddd; padding-bottom: 10px;">GitHub Repo Info</h2>
                <a href="https://github.com/abstra208/phat-pi" style="display: block; margin-bottom: 10px;">Repo Page</a>
                <a href="https://github.com/abstra208/phat-pi/wiki" style="display: block; margin-bottom: 10px;">Repo Wiki</a>
                <a href="https://github.com/abstra208/phat-pi/issues" style="display: block; margin-bottom: 10px;">Repo Issues</a>
                <a href="https://github.com/abstra208/phat-pi/releases" style="display: block; margin-bottom: 10px;">Repo Releases</a>
            </div>
        </div>
    </div>
    <div id="bottombar">
        <img src="{{ url_for('static', filename='img/logo_name.svg') }}" alt="">
        {{ version }}
    </div>
</body>
</html>
