<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Pi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="login">
    <form id="connection" action="/" method="POST">
        <img src="{{ url_for('static', filename='users/picture.svg') }}" alt="picture">
        <div id="connection_input">
            <div class="">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" class="login_input">
            </div>
            <div>
                <label for="passwd">Mot de passe</label>
                <input type="password" name="passwd" id="passwd" class="login_input">
            </div>
            <input type="submit" value="Connexion">
        </div>
    </form>
    <ul id="error">
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </ul>
</body>
</html>